@import "fonctions";

%logo-styles {
  @include hauteurLargeur(100px, 40px);
  @include centralisationPourItemsSeul(auto, auto);
  margin-bottom: 20px;

  img {
    @include hauteurLargeur(100px, 10px);
    border-radius: 50%;
  }
}

%list-item-styles {
  @include centralisationPourItemsSeul(20px, 20px);
}

.avantFooter {
  padding: 5%;
  @include centralisationAvecFlex(flex, center, center);
  height: 250px;

  .container__avantFooter {
    .logo__avantFooter {
      @extend %logo-styles;
    }

    .menu-list__avantFooter {
      display: flex;
      list-style: none;

      li {
        @extend %list-item-styles;
      }
    }
  }
}


@media only screen and (max-width: 450px) {
  .avantFooter {
    padding: 5%;
    @include centralisationAvecFlex(flex, center, center);
    height: 300px;
  
    .container__avantFooter {
      .logo__avantFooter {
        img{
          width: 50px;
          border-radius: 50%;
        }
      }
  
      .menu-list__avantFooter {
        display: block;
        list-style: none;
        margin-right: 50px;
        text-align: center;
        li {
          margin-top: 5px;
          margin-bottom: 5px;
        }
      }
    }
  }
}