@import 'fonctions';

%flex-center {
  @include centralisationAvecFlex(flex, center, center);
}

%padding {
  padding: 0% 5%;
}

%container-styles {
  @include hauteurLargeur(1000px, 500px);
}

%text-center {
  text-align: center;
}

%employer-styles {
  padding: 10% 3%;
}

%photo-styles {
  @include border(2px solid black, 5%);
  margin-bottom: 10%;

  img {
    @include hauteurLargeur(200px, 80px);
  }
}

%info-styles {
  h4 {
    margin-bottom: 10%;
  }

  h5 {
    margin-bottom: 15%;
  }

  p {
  }

  i {
  }
}

.equipes {
  @extend %padding;
  @extend %flex-center;
  .container__equipes {

    .description__equipes {
      @extend %text-center;
      h2 {
        margin-bottom: 5%;
      }

      p {
      }
    }

    .flexEmployers__equipes {
      @extend %flex-center;

      .employers {
        @extend %employer-styles;
      }

      .employerOne__equipes {
        .photoEmployerOne__equipes {
          @extend %photo-styles;
        }

        @extend %info-styles;
      }

      .employerTwo__equipes {
        .photoEmployerTwo__equipes {
          @extend %photo-styles;
        }

        @extend %info-styles;
      }

      .employerThree__equipes {
        .photoEmployerThree__equipes {
          @extend %photo-styles;
        }

        @extend %info-styles;
      }

      .employerFour__equipes {
        .photoEmployerFour__equipes {
          @extend %photo-styles;
        }

        @extend %info-styles;
      }
    }
  }
}


@media only screen and (max-width: 950px) {
  .equipes {
    @extend %padding;
    @extend %flex-center;
    .container__equipes {
      // @extend %container-styles;

      .description__equipes {
        @extend %text-center;
        h2 {
          margin-bottom: 5%;
        }
  
        p {
        }
      }
  
      .flexEmployers__equipes {
        display: block;

  
        .employers {
          @extend %employer-styles;
        }
  
        .employerOne__equipes {
          .photoEmployerOne__equipes {
            width: 100%;
            height: 80px;
            border: none;
            img{
              width: 100%;
            }
          }
  
          @extend %info-styles;
        }
  
        .employerTwo__equipes {
          .photoEmployerTwo__equipes {
            width: 100%;
            height: 80px;
            border: none;
            img{
              width: 100%;
            }
          }
  
          @extend %info-styles;
        }
  
        .employerThree__equipes {
          .photoEmployerThree__equipes {
            width: 100%;
            height: 80px;
            border: none;
            img{
              width: 100%;
            }
          }
  
          @extend %info-styles;
        }
  
        .employerFour__equipes {
          .photoEmployerFour__equipes {
            width: 100%;
            height: 80px;
            border: none;
            img{
              width: 100%;
            }
          }
  
          @extend %info-styles;
        }
      }
    }
  }}