@import 'fonctions';

%escalades-flex {
  @include centralisationAvecFlex(flex, center, center);
}

%photo-escalade {
  margin-bottom: 10%;

  img {
    @include hauteurLargeur(20%, 50%);
    @include border(none, 50%);
  }
}

%escalade-info {
  h3 {
    margin-bottom: 10%;
  }

  p {
    // Styles
  }
}

.escalades {
  @extend %escalades-flex;
  padding: 5%;

  .container__escalades {
    @include hauteurLargeur(1000px, auto);

    .description__escalades {
      text-align: center;

      h2 {
        margin-bottom: 5%;
      }

      p {
        margin-bottom: 5%;
      }
    }

    .flexTypesEscalades__escalades {
      @extend %escalades-flex;

      .typesEscalades {
        text-align: center;
      }

      .escaladeTypeOne__escalades {
        @extend %escalade-info;
        @extend %photo-escalade;
      }

      .escaladeTypeTwo__escalades {
        @extend %escalade-info;
        @extend %photo-escalade;
      }

      .escaladeTypeThree__escalades {
        @extend %escalade-info;
        @extend %photo-escalade;
      }
    }
  }
}
