*{
    margin: 0;
    padding: 0;   
    box-sizing: border-box; 
}

@mixin tailleForSections($width-section, $height-section){
    max-width: $width-section;
    min-height: $height-section;
    
}

@mixin centralisationForSections($display-section, $justityContent-section, $alignItem-section){
    display: $display-section;
    justify-content: $justityContent-section;
    align-items: $alignItem-section;
}
