@import 'fonctions';

%taille-container{
    @include hauteurLargeur(auto, auto);
}
%espacement-entre-items{
    @include centralisationPourItemsSeul(10px, 10px);
}

.footer{
    padding: 5%;
    .container__footer{
        @include hauteurLargeur(1200px, auto);
        @include centralisationAvecFlex(flex, space-between, center);
        @include centralisationPourItemsSeul(auto, auto);
        .auteur__footer{
            @extend %taille-container;
            h5{

            }
        }
        .reseaux-sociaux__footer{
            @extend %taille-container;
            i{

            }
        }
        .coordonnees__footer{
            @include centralisationAvecFlex(flex, center, center);
            @extend %taille-container;
            .telephonneCoordonnees__footer{
                @extend %espacement-entre-items;
                i{

                }
                h6{

                }
            }
            .emailCoordonnees__footer{
                @extend %espacement-entre-items;
                i{

                }
                h6{

                }
            }
        } 
    }
}

@media only screen and (max-width: 450px) {
    .footer{
        padding: 5%;
        .container__footer{
            @include hauteurLargeur(400px, auto);
            @include centralisationAvecFlex(block, center, center);
            @include centralisationPourItemsSeul(auto, auto);
            .auteur__footer{
                width: 100%;
                @extend %taille-container;
                h5{
    
                }
            }
            .reseaux-sociaux__footer{
                width: 100%;
                @extend %taille-container;
                i{
    
                }
            }
            .coordonnees__footer{
                @include centralisationAvecFlex(flex, center, center);
                width: 100%;
                .telephonneCoordonnees__footer{
                    i{
    
                    }
                    h6{
    
                    }
                }
                .emailCoordonnees__footer{
                    @extend %espacement-entre-items;
                    i{
    
                    }
                    h6{
    
                    }
                }
            } 
        }
    }
}