@import 'fonctions';

%container-styles {
  @include hauteurLargeur(auto, auto);
}

%flex-styles {
  display: flex;
}

%image-styles {
  @include hauteurLargeur(10px, none);
}

%image-size {
  @include hauteurLargeur(250px, 250px);
}

%image-grid-size {
  @include hauteurLargeur(500px, 250px);
}

%small-image-size {
  @include hauteurLargeur(150px, 150px);
}

%big-image-size {
  @include hauteurLargeur(200px, 300px);
}

.galerie {
  padding: 0% 5% 5% 5%;

  .container__galerie {
    @extend %container-styles;
    border: 2px solid pink;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;

    .images {
      img {
        @extend %image-styles;
      }
    }

    .containerImageOne__galerie {
      @extend %flex-styles;
      justify-content: flex-end;
      align-items: center;

      img {
        @extend %image-size;
      }
    }

    .containerImageTwoThree__galerie {
      .imageTwo__galerie {
        @extend %flex-styles;
        grid-gap: 10px;
        margin-bottom: 10px;

        img {
          justify-content: flex-start;
          align-items: center;
          @extend %image-grid-size;
        }

        .containerImageThree__galerie {
          align-self: flex-end;

          img {
            @extend %small-image-size;
          }
        }
      }

      .containerImageFourFive__galerie {
        @extend %flex-styles;
        grid-gap: 10px;
        align-self: flex-end;

        img {
          @extend %small-image-size;
        }

        .containerImageFive__galerie {
          img {
            justify-content: flex-start;
            align-items: center;
            @extend %image-grid-size;
          }
        }
      }
    }

    .containerImageSix__galerie {
      @extend %flex-styles;
      justify-content: flex-start;
      align-items: center;

      img {
        @extend %big-image-size;
      }
    }
  }
}
