@import "./fonctions";

$formulaire-color: rgba(78, 78, 78, 0.603);
$formulaire-text-color: rgb(44, 44, 44);
$formulaire-placeholder-color: rgb(121, 121, 121);
$formulaire-error-color: #ff3860;
$formulaire-success-color: #09c372;

%position-absolute {
  position: absolute;
  top: 80px;
  right: 10px;
  z-index: 1;
}

%container-styles {
  @include hauteurLargeur(600px, 400px);
  @include border(none, 10px);
  padding: 3% 5% 5% 5%;
}

%color-styles {
  background-color: $formulaire-color;
  color: $formulaire-text-color;
}

%input-styles {
  padding: 5px;
  width: 100%;
}

%textarea-styles {
  width: 100%;
  height: 100px;
  padding: 5px;
}

%message-error-styles {
  color: $formulaire-error-color;
  font-size: 9px;
  height: 13px;
}

%success-styles {
  input {
    border-color: $formulaire-success-color;
  }
}

%error-styles {
  input {
    border-color: $formulaire-error-color;
  }
}

.formulaireMaps {
  position: relative;
  .container__formulaireMaps {
    .containerFormulaire__formulaireMaps {
      @extend %color-styles;
      @extend %position-absolute;
      @extend %container-styles;

      h2 {
        margin-bottom: 10%;
      }

      p {
        margin-bottom: 10%;
      }

      .formulaire__formulaireMaps {
        input {
          @extend %input-styles;
        }

        .flexForm__formulaireMaps {
          display: flex;
          justify-content: space-between;

          .inputNom__formulaireMaps,
          .inputPrenom__formulaireMaps {
            @include hauteurLargeur(100%, none);

            input {
              @include hauteurLargeur(100%, none);
            }

            .messageError {
              @extend %message-error-styles;
            }
          }
        }

        .inputEmail__formulaireMaps {
          @include hauteurLargeur(100%, none);

          input {
            @include hauteurLargeur(100%, none);
          }

          .messageError {
          }
        }

        .inputMessage__formulaireMaps {
          textarea {
            @extend %textarea-styles;
          }

          .messageError {
          }
        }

        .btn__formulaireMaps {
          padding: 5px;
        }

        .contenairInput {
          input:focus {
            outline: 0;
          }

          .messageError {
            @extend %message-error-styles;
          }

          .success {
            @extend %success-styles;
          }

          .error {
            @extend %error-styles;
          }
        }
      }
    }
  }
}
