@import "fonctions";

%hauteur-largeur-400 {
  @include hauteurLargeur(400px, none);
}

%centralisation-items-left-right {
  @include centralisationPourItemsSeul(10px, 10px);
}

%centralisation-flex {
  @include centralisationAvecFlex(flex, center, center);
}

.recherche {
  @include hauteurLargeur(100%, 400px);

  .container__recherche {
    @include hauteurLargeur(800px, 10px);
    @include centralisationPourItemsSeul(auto, auto);
    padding: 10%;

    p {
      text-align: center;
    }

    .input__recherche {
      @include hauteurLargeur(250px, none);
      @include centralisationPourItemsSeul(auto, auto);
      @extend %centralisation-flex;
      margin-top: 50px;

      input, button {
        @extend %hauteur-largeur-400;
        @extend %centralisation-items-left-right;
        padding: 20px 50px;
      }
    }
  }

  .temoignage__recherche {
    background-color: rgb(192, 192, 192);
    padding: 30px 20px;
    @include hauteurLargeur(100%, 10px);
    @extend %centralisation-flex;

    p {
      @include hauteurLargeur(600px, none);
      @extend %centralisation-items-left-right;
      text-align: center;
      margin-bottom: 20px;
    }

    button {
      @include hauteurLargeur(200px, none);
      margin-left: 20px;
      margin-right: 20px;
      padding: 20px 50px;
    }
  }
}

