@import "fonctions";
.statistiques{
    @include centralisationAvecFlex(flex, center, center);
    padding: 5% 5% 5% 5%;
    .container__statistiques{
        @include hauteurLargeur(1000px, 500px);
        .flexGraphDonnees__statistiques{
            @include centralisationAvecFlex(flex, none, none);
            .graphique__statistiques{
                @include hauteurLargeur(500px, 350px);
                img{
                    border-radius: 50%;
                    max-width: 400px;
                }
            }
            .donnees__statistiques{
                @include hauteurLargeur(500px, 400px);
                padding: 5% 5% 5% 5%;
                h2{
                    margin-bottom: 5%;
                }
                p{
                    margin-bottom: 40px;
                }
                .donneesChiffres__statistiques{
                    @include centralisationAvecFlex(flex, space-between, none);
                    margin-bottom: 40px;
                   .nombreDeVu__statistiques{
                    h3{
    
                    }
                    .petitText{
    
                    }
                    .petitText--green{
    
                    }
                   }
                   .nombreDeTelechargement__statistiques{
                    h3{
    
                    }
                    .petitText{
    
                    }
                    .petitText--green{
                    }
                   }
                }
                .btnPlus__statistiques{
                    padding: 1% 2% 1% 2%;
                }
                .btnPlus--green{
                    &:hover{
    
                    }
                }
        }}}}