*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
// header{
//     background-color: rgb(170, 170, 170);
//     .container__header{
//         border: 2px solid red;
//         height: 80px;
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//     }
//     .flexOne__header{
//         border: 2px solid blue;
//         display: flex;
//         align-items: center;
//         margin-left: 5px;
//         margin-left: 5px;
//         .flexLogoIframe__header{
//             border: 2px solid yellow;
//             .logoIframe--header{
//                 border: 2px solid green;
//             }
//         }
//         .flexLogoText__header{
//             border: 2px solid orangered;
//             .logoText--header{
//                 border: 2px solid yellow;
//                 font-size: 20px;
//             }
//         }
//     }
//     .flexTwo__header{
//         border: 2px solid blue;
//         .menuList__header{
//             border: 2px solid green;
//             list-style: none;
//             display: flex;
//             .menuListOne__header{
//                 border: 2px solid black;
//                 a{
//                     border: 2px solid red;
//                 }
//                 i{

//                 }
//                 .sousMenuListOne__header{
//                     border: 2px solid yellow;
//                     display: none;
//                     li{
//                     }
//                 }
//             }
//             .menuListTwo__header{
//                 border: 2px solid black;
//                 a{
//                     border: 2px solid red;
//                 }
//                 i{
//                 }
//                 .sousMenuListTwo__header{
//                     border: 2px solid yellow;
//                     display: none;
//                     li{
//                     }
//                 }
//             }
//             .menuListThree__header{
//                 a{
//                     border: 2px solid red
//                 }
//             }
//             .menuListFour__header{
//                 a{
//                     border: 2px solid red 
//                 }
//             }

//         }
//     }
// }